@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 212, 161);
  color: rgba(0, 0, 0, 0.785);
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-family: "Monoton";
  background-color: antiquewhite;
}

.input-base {
  background-color: rgb(88, 48, 7);
  width: 100%;
  height: 30vh;
  color: whitesmoke;
  font-family: "Roboto", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-box {
  display: flex;
  justify-content: center;
  margin: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.input-box input {
  background-color: rgba(235, 222, 205, 0.777);
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  font-family: "Playfair Display", serif;
  transition: 0.5s;
  outline: none;
  font-size: 1.4rem;
}

input[type="text"]:focus {
  border: 2px solid rgb(138, 134, 7);
  background-color: #fff;
  outline: none;
}

.input-box button {
  border: none;
  padding: 20px 30px;
  background-color: #0d0d0d;
  color: rgba(218, 215, 215, 0.761);
  border-radius: 10px;
  font-size: 1.4rem;
}

.input-box button:hover {
  background-color: rgb(254, 202, 134);
  color: rgb(40, 40, 40);
  border: 1px solid greenyellow;
  cursor: pointer;
}

@media (max-width: 430px) {
  .input-box {
    flex-direction: column;
    margin: 40px 0;
  }

  input[type="text"] {
    width: 100%;
  }
}

/* Lists.css */

.lists_box {
  background-color: #faf0c6d9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 60%;
  margin: 30px auto;
  margin-bottom: 40px;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li span::first-letter {
  text-transform: uppercase;
}

.inputData {
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 40px;
}

li:last-child {
  border-bottom: 1px solid #f0eeee;
}

span {
  font-size: 1.4rem;
}

.emptylist {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* display: flex;
  font-size: 4rem;
  font-weight: 500;
  color: #080808;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100; */
}
.emptylist h1 {
  width: 100%;
  height: auto;
  font-weight: 900;
  -webkit-text-stroke: 4px black;
  color: transparent;
  font-size: 4rem;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* .emptylist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.368);
  z-index: 1;
} */

.emptylist img {
  filter: drop-shadow(10px 10px 20px rgb(32, 31, 31));
}

.emptylist img:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(10px 60px 40px rgba(27, 26, 26, 0.844));
}

.buttons span {
  cursor: pointer;
}

.myedit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.editInput {
  background-color: transparent;
  padding: 10px;
  font-size: 1.2rem;
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 430px) {
  .lists_box {
    padding: 10px;
    margin: 0 10px;
    width: 90%;
  }

  span {
    font-size: 14px;
  }

  .emptylist {
    flex-direction: column;
  }

  .emptylist img {
    width: 100%;
    object-fit: cover;
  }

  .emptylist::before {
    width: 100%;
  }
}
